<html>
<head>
    <title>order</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#billpage").hide();
        });
        function itr()
        {
            var tb = document.getElementById("tbl");
            var i,data={};
            var id = tb.rows[1].cells[0].children[0].value;
            var cnt=0;
            for(i=1;i<=10;i++) {
                var itemname = tb.rows[i].cells[1].children[0].value;
                var detail = tb.rows[i].cells[2].children[0].value;
                var cost = tb.rows[i].cells[3].children[0].value;
                var quantity = tb.rows[i].cells[4].children[0].value;
                if(quantity>0)
                {
                    data[i] = {orderid: id,itemname: itemname,detail: detail,cost: cost,quantity: quantity}
                    //alert("data[o]");
                    cnt = cnt + 1;
                }
            }
            if(cnt<1)
                alert("add one item");
            else {
                alert("gazdga");
                JSON.stringify(data);
                $.ajax({
                    type: 'POST',
                    url: '/order/submit',
                    data: data,
                    success: function () {
                        alert("success");
                        $("#tbl").hide();
                        $("#btn1").hide();
                        $("#billpage").show();
                    }
                });
            }

        }
    </script>
</head>
<body>
<center><h1>add order details</h1></center>
<table align="center"  border="2" cellpadding="10" id="tbl">

    <tr name="abc">
        <td width="100" name="bc">orderid</td>
        <td width="100">itemname</td>
        <td width="100">details</td>
        <td width="100">cost</td>
        <td width="50">quantity</td>
    </tr>

    <tr id="1">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname" >
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="socks">socks</option>
            </select>
        </td>
        <td width="100"><input type="text" id="details" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td width="50"><select name="quantity">
            <option  value="0" selected>0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        </td>
    </tr>
    <tr id="2">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname">
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="shocks">shocks</option>
            </select>
        </td>
        <td width="100"><input type="text" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td><select name="quantity">
                <option  value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>
    <tr id="3">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname">
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="shocks">shocks</option>
            </select>
        </td>
        <td width="100"><input type="text" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td><select name="quantity">
                <option  value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>
    <tr id="4">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname">
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="shocks">shocks</option>
            </select>
        </td>
        <td width="100"><input type="text" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td><select name="quantity">
                <option  value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>
    <tr id="5">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname">
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="shocks">shocks</option>
            </select>
        </td>
        <td width="100"><input type="text" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td><select name="quantity">
                <option  value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>
    <tr id="6">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname">
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="shocks">shocks</option>
            </select>
        </td>
        <td width="100"><input type="text" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td><select name="quantity">
                <option  value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>
    <tr id="7">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname">
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="shocks">shocks</option>
            </select>
        </td>
        <td width="100"><input type="text" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td><select name="quantity">
                <option  value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>
    <tr id="8">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname">
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="shocks">shocks</option>
            </select>
        </td>
        <td width="100"><input type="text" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td><select name="quantity">
                <option  value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>
    <tr id="9">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname">
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="shocks">shocks</option>
            </select>
        </td>
        <td width="100"><input type="text" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td><select name="quantity">
                <option  value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>
    <tr id="10">
        <td width="100"><input type="text" name="orderid" value="<%= orderid %>"></td>
        <td width="100"><select name="itemname">
                <option value="kurtapyjama">kurtapyjama</option>
                <option value="pants">pants</option>
                <option value="shirt">shirt</option>
                <option value="sherwani">sherwani</option>
                <option value="suit">suit</option>
                <option value="jacket">jacket</option>
                <option value="sweater">sweater</option>
                <option value="t-shirt">t-shirt</option>
                <option value="shocks">shocks</option>
            </select>
        </td>
        <td width="100"><input type="text" name="details" value=""></td>
        <td width="100"><input type="text" name="cost" value=""></td>
        <td ><select name="quantity" >
                <option  value="0" selected>0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
            </select>
        </td>
    </tr>

</table>
<br>

<center><button type="submit" onclick="itr()" id="btn1">submit order</button></center>
<form method="post" action="/order/bill" id="billpage">
    <input type="hidden" name="orderid" value="<%= orderid %>">
    <button type="submit">Go to bill</button>
</form>
</body>


</table>
</html>